:root {
  --cWhite: #D7D1C6;
  --cOcher: #7C6925;
  --cBlack: #000000;
  --cMorocco: #34230C;
  --cGlold: #6E592A;
  --cBlod: #AD9E50;
  --cMouse: #796D5F;

  --cVanilla: #c7ba9d;
  --cDisable: #92918e;

}

//==========================================
//animation 
//==========================================
@keyframes down {
  from {
    top: 15px
  }

  to {
    top: 0px
  }
}

@keyframes spdown {
  from {
    top: -10px
  }

  to {
    top: 0px
  }
}

//==========================================
//responsive query
//==========================================
$widthPC: 960px;
$widthTab: 959px;
$widthSp: 559px;

@mixin tab {
  @media screen and (min-width: $widthTab) and (max-width: ($widthPC)) {
    @content;
  }
}

@mixin sp {
  @media screen and (max-width: ($widthSp)) {
    @content;
  }
}

//==========================================
//elements css"s" 
//==========================================
html {
  font-size: 8px;
  height: 100%;

  @include sp {
    font-size: 8px;
  }
}

body {
  position: static;
  width: calc(100vw -(100vw - 100%)); //blackmagic for design
  height: 100%;
  background: var(--cBlack);
  color: var(--cWhite);

  text-align: center;
  font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", YuGothic, sans-serif;
  font-weight: 500;
}

a {
  color: var(--cWhite);
}

a:hover {
  color: var(--cWhite);
}

.headerVisual {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 50%;

  svg {
    z-index: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: auto;
    height: 75%;

    @include sp {
      width: auto;
      height: 60%;
    }
  }
}

.leaf {
  position: relative;
  display: inline-block;
  background-color: var(--cDisable);
  // background: #F4F3EE; //== Active
  border: 2px solid #998949;
  box-sizing: border-box;
  border-radius: 0px 73.5px;
}

.underLine {
  text-decoration: underline;
}

.ltd-break {
  display: inline-block;
  white-space: nowrap;

  @include sp {
    display: block;
  }
}


nav {
  position: fixed;
  text-align: right;

  @include sp {
    display: none;
  }

  bottom: 40px;
  right: 40px;
  z-index: 5;

  ul {
    li {
      margin: 1rem;
      display: inline;
      font-size: 2rem;

      a {
        display: block;
        text-decoration: none;
        color: rgba(199, 186, 157, 0.5); //Alpha50%
      }

      a.current {
        color: var(--cMouse); //Alpha100%
      }
    }
  }
}

section {
  position: static;
  height: 100%;

  //======
/*
  border: 1px solid honeydew; //dev

  @include sp {
    border: 1px solid aqua;
  }
*/
  //========
  .logo {
    width: 14rem;
    height: 14rem;
    padding-bottom: 2rem;

    @include sp {
      width: 8rem;
      height: 8rem;
    }
  }

  h2 {
    font-size: 5rem;
    font-weight: bold;
    line-height: 2rem;
    margin-top: 4rem;
    padding-bottom: 2rem;
    color: var(--cOcher);

    @include sp {
      margin-bottom: 2rem;
      font-size: 2.8rem;

    }
  }

  p {
    font-size: 2rem;
  }
}

//==========================================
//id css"s" 
//==========================================

#Title {
  position: relative;
  z-index: 1;
  height: 100%;
  overflow: hidden;

  .container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -40%);
    color: var(--cWhite);

    @include sp {
      padding: 0;
    }

    h1 {
      font-weight: bold;
      font-size: 10rem;
      letter-spacing: 0.1em;

      @include sp {
        font-size: 5rem;
        letter-spacing: 0em;
      }
    }

    h2 {
      color: var(--cWhite);
      font-size: 3rem;
      line-height: 28px;
      margin-bottom: 8rem;

      @include sp {
        font-size: 2rem;
        font-weight: 400;
        margin-bottom: 4rem;
      }
    }
  }

  .date {
    margin-top: 4rem;

    p {
      line-height: 1em;
      font-size: 4.5rem;
      color: var(--cOcher);

      @include sp {
        font-size: 2rem;
      }
    }
  }

  .down {
    position: relative;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    cursor: pointer;
    width: 10rem;
    height: 10rem;

    @include sp {
      top: 45%
    }

    .downicon {
      position: absolute;
      display: block;
      bottom: 60px;

      width: 100%;
      height: 100%;

      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      animation: down 1.5s infinite alternate;

      @include sp {
        animation: spdown 1.5s infinite alternate;
        width: 6rem;
        height: auto;
      }
    }
  }
}

//==========//
#Description {
  padding-top: 10%;
  padding-bottom: 10%;

  height: 100vh;
  box-sizing: border-box;

  @include sp {
    height: auto;
  }

  .summary {
    height: 80%;
    padding: 6rem;
    background-color: #34230C;

    .logo {
      padding-bottom: 2rem;
    }

    h2 {
      margin-top: 6rem;
      margin-bottom: 6rem;
    }

    @include sp {
      padding: 2rem;
      padding-top: 5%;
      padding-bottom: 5%;
      height: auto;

      h2 {
        margin-bottom: 2rem;
        font-size: 2.8rem;
      }

      p {
        line-height: 4rem;
        display: inline;
      }
    }
  }
}

//==========//
#Concept {
  padding-top: 15%;
  padding-bottom: 15%;
  box-sizing: border-box;

  .logo {
    padding-bottom: 2rem;
  }

  h2 {
    margin-top: 6rem;
    margin-bottom: 6rem;
  }

  @include sp {
    padding: 2rem;
    padding-top: 5%;
    padding-bottom: 5%;
    height: auto;

    h2 {
      margin-bottom: 2rem;
      font-size: 2.8rem;
    }

    p {
      line-height: 5rem;
    }
  }
}

//==========//
#Members {
  padding-top: 10%;
  padding-bottom: 10%;
  box-sizing: border-box;
  height: 60%;

  a {
    margin: 10rem 10rem;
    font-size: 5rem;
    color: #34230C;
    white-space: nowrap;

    @include sp {
      font-size: 2.5rem;
    }
  }
}

//==========//
#Event {
  padding-top: 10%;
  padding-bottom: 10%;
  box-sizing: border-box;
  height: 60%;

  a {
    margin: 10rem 10rem;
    font-size: 5rem;
    color: #34230C;
    white-space: nowrap;

    @include sp {
      font-size: 2.5rem;
    }
  }
}
//==========//
#Access {
  padding-top: 5%;
  padding-bottom: 5%;
  box-sizing: border-box;

  @include sp {
    display: block;
    position: static;
    height: auto;
  }

  .listTitle {
    color: var(--cVanilla);
    font-weight: bold;
  }

  .axis {
    font-weight: bold;
  }

  ol {
    font-size: 2rem;
    text-align: left;
    list-style-type: none;
  }

  li {
    list-style-type: none;
  }

  ul {
    font-size: 2rem;
    margin: 1.5rem 0 1.5rem;
  }

  .link {
    a {
      display: inline-block;
      color: var(--cMouse);
    }

    text-align: right;
    font-size: 2rem;
  }
}

#gmap {
  width: 100%;
  height: 350px;

  @include sp {
    width: 100%;
    height: 270px;
  }
}

//==========//
#Link {
  padding-top: 5%;
  padding-bottom: 5%;
  box-sizing: border-box;
  height: auto;
  
  .linkframe{
    display: flex;
    flex-flow: row wrap;
    justify-content:center;
    align-items: flex-start;
  }

  .linkbox{
    margin: 1rem;
    flex-basis:144px;
    overflow: hidden;
  }
  a {
    font-size: 1.5rem;
    }
  .linkicon {
    display: block;
    height: auto;
    text-decoration: none;

    svg {
      width: 10rem;
      height: 10rem;

  }

    img {
      border-radius: 10rem;
      width: 10rem;
      height: 10rem;
      background-color: black;
    }
  }
}


//==========//
#End {
  
  position: relative;
  height: 75vh;

  .container {
    #mainVisual {

      width: 400px;
      height: 400px;
      margin-top: 10%;

      @include sp {
        padding: 10%;
        width: 80%;
        height: 80%;
      }
    }
  }

  footer {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 10px;
  }
}