@charset "UTF-8";
:root {
  --cWhite: #D7D1C6;
  --cOcher: #7C6925;
  --cBlack: #000000;
  --cMorocco: #34230C;
  --cGlold: #6E592A;
  --cBlod: #AD9E50;
  --cMouse: #796D5F;
  --cVanilla: #c7ba9d;
  --cDisable: #92918e;
}

@-webkit-keyframes down {
  from {
    top: 15px;
  }
  to {
    top: 0px;
  }
}

@keyframes down {
  from {
    top: 15px;
  }
  to {
    top: 0px;
  }
}

@-webkit-keyframes spdown {
  from {
    top: -10px;
  }
  to {
    top: 0px;
  }
}

@keyframes spdown {
  from {
    top: -10px;
  }
  to {
    top: 0px;
  }
}

html {
  font-size: 8px;
  height: 100%;
}

@media screen and (max-width: 559px) {
  html {
    font-size: 8px;
  }
}

body {
  position: static;
  width: calc(100vw -(100vw - 100%));
  height: 100%;
  background: var(--cBlack);
  color: var(--cWhite);
  text-align: center;
  font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", YuGothic, sans-serif;
  font-weight: 500;
}

a {
  color: var(--cWhite);
}

a:hover {
  color: var(--cWhite);
}

.headerVisual {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 50%;
}

.headerVisual svg {
  z-index: 0;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  width: auto;
  height: 75%;
}

@media screen and (max-width: 559px) {
  .headerVisual svg {
    width: auto;
    height: 60%;
  }
}

.leaf {
  position: relative;
  display: inline-block;
  background-color: var(--cDisable);
  border: 2px solid #998949;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 0px 73.5px;
}

.underLine {
  text-decoration: underline;
}

.ltd-break {
  display: inline-block;
  white-space: nowrap;
}

@media screen and (max-width: 559px) {
  .ltd-break {
    display: block;
  }
}

nav {
  position: fixed;
  text-align: right;
  bottom: 40px;
  right: 40px;
  z-index: 5;
}

@media screen and (max-width: 559px) {
  nav {
    display: none;
  }
}

nav ul li {
  margin: 1rem;
  display: inline;
  font-size: 2rem;
}

nav ul li a {
  display: block;
  text-decoration: none;
  color: rgba(199, 186, 157, 0.5);
}

nav ul li a.current {
  color: var(--cMouse);
}

section {
  position: static;
  height: 100%;
  /*
  border: 1px solid honeydew; //dev

  @include sp {
    border: 1px solid aqua;
  }
*/
}

section .logo {
  width: 14rem;
  height: 14rem;
  padding-bottom: 2rem;
}

@media screen and (max-width: 559px) {
  section .logo {
    width: 8rem;
    height: 8rem;
  }
}

section h2 {
  font-size: 5rem;
  font-weight: bold;
  line-height: 2rem;
  margin-top: 4rem;
  padding-bottom: 2rem;
  color: var(--cOcher);
}

@media screen and (max-width: 559px) {
  section h2 {
    margin-bottom: 2rem;
    font-size: 2.8rem;
  }
}

section p {
  font-size: 2rem;
}

#Title {
  position: relative;
  z-index: 1;
  height: 100%;
  overflow: hidden;
}

#Title .container {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -40%);
          transform: translate(-50%, -40%);
  color: var(--cWhite);
}

@media screen and (max-width: 559px) {
  #Title .container {
    padding: 0;
  }
}

#Title .container h1 {
  font-weight: bold;
  font-size: 10rem;
  letter-spacing: 0.1em;
}

@media screen and (max-width: 559px) {
  #Title .container h1 {
    font-size: 5rem;
    letter-spacing: 0em;
  }
}

#Title .container h2 {
  color: var(--cWhite);
  font-size: 3rem;
  line-height: 28px;
  margin-bottom: 8rem;
}

@media screen and (max-width: 559px) {
  #Title .container h2 {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 4rem;
  }
}

#Title .date {
  margin-top: 4rem;
}

#Title .date p {
  line-height: 1em;
  font-size: 4.5rem;
  color: var(--cOcher);
}

@media screen and (max-width: 559px) {
  #Title .date p {
    font-size: 2rem;
  }
}

#Title .down {
  position: relative;
  display: block;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer;
  width: 10rem;
  height: 10rem;
}

@media screen and (max-width: 559px) {
  #Title .down {
    top: 45%;
  }
}

#Title .down .downicon {
  position: absolute;
  display: block;
  bottom: 60px;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: down 1.5s infinite alternate;
          animation: down 1.5s infinite alternate;
}

@media screen and (max-width: 559px) {
  #Title .down .downicon {
    -webkit-animation: spdown 1.5s infinite alternate;
            animation: spdown 1.5s infinite alternate;
    width: 6rem;
    height: auto;
  }
}

#Description {
  padding-top: 10%;
  padding-bottom: 10%;
  height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 559px) {
  #Description {
    height: auto;
  }
}

#Description .summary {
  height: 80%;
  padding: 6rem;
  background-color: #34230C;
}

#Description .summary .logo {
  padding-bottom: 2rem;
}

#Description .summary h2 {
  margin-top: 6rem;
  margin-bottom: 6rem;
}

@media screen and (max-width: 559px) {
  #Description .summary {
    padding: 2rem;
    padding-top: 5%;
    padding-bottom: 5%;
    height: auto;
  }
  #Description .summary h2 {
    margin-bottom: 2rem;
    font-size: 2.8rem;
  }
  #Description .summary p {
    line-height: 4rem;
    display: inline;
  }
}

#Concept {
  padding-top: 15%;
  padding-bottom: 15%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#Concept .logo {
  padding-bottom: 2rem;
}

#Concept h2 {
  margin-top: 6rem;
  margin-bottom: 6rem;
}

@media screen and (max-width: 559px) {
  #Concept {
    padding: 2rem;
    padding-top: 5%;
    padding-bottom: 5%;
    height: auto;
  }
  #Concept h2 {
    margin-bottom: 2rem;
    font-size: 2.8rem;
  }
  #Concept p {
    line-height: 5rem;
  }
}

#Members {
  padding-top: 10%;
  padding-bottom: 10%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 60%;
}

#Members a {
  margin: 10rem 10rem;
  font-size: 5rem;
  color: #34230C;
  white-space: nowrap;
}

@media screen and (max-width: 559px) {
  #Members a {
    font-size: 2.5rem;
  }
}

#Event {
  padding-top: 10%;
  padding-bottom: 10%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 60%;
}

#Event a {
  margin: 10rem 10rem;
  font-size: 5rem;
  color: #34230C;
  white-space: nowrap;
}

@media screen and (max-width: 559px) {
  #Event a {
    font-size: 2.5rem;
  }
}

#Access {
  padding-top: 5%;
  padding-bottom: 5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 559px) {
  #Access {
    display: block;
    position: static;
    height: auto;
  }
}

#Access .listTitle {
  color: var(--cVanilla);
  font-weight: bold;
}

#Access .axis {
  font-weight: bold;
}

#Access ol {
  font-size: 2rem;
  text-align: left;
  list-style-type: none;
}

#Access li {
  list-style-type: none;
}

#Access ul {
  font-size: 2rem;
  margin: 1.5rem 0 1.5rem;
}

#Access .link {
  text-align: right;
  font-size: 2rem;
}

#Access .link a {
  display: inline-block;
  color: var(--cMouse);
}

#gmap {
  width: 100%;
  height: 350px;
}

@media screen and (max-width: 559px) {
  #gmap {
    width: 100%;
    height: 270px;
  }
}

#Link {
  padding-top: 5%;
  padding-bottom: 5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: auto;
}

#Link .linkframe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#Link .linkbox {
  margin: 1rem;
  -ms-flex-preferred-size: 144px;
      flex-basis: 144px;
  overflow: hidden;
}

#Link a {
  font-size: 1.5rem;
}

#Link .linkicon {
  display: block;
  height: auto;
  text-decoration: none;
}

#Link .linkicon svg {
  width: 10rem;
  height: 10rem;
}

#Link .linkicon img {
  border-radius: 10rem;
  width: 10rem;
  height: 10rem;
  background-color: black;
}

#End {
  position: relative;
  height: 75vh;
}

#End .container #mainVisual {
  width: 400px;
  height: 400px;
  margin-top: 10%;
}

@media screen and (max-width: 559px) {
  #End .container #mainVisual {
    padding: 10%;
    width: 80%;
    height: 80%;
  }
}

#End footer {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 10px;
}
/*# sourceMappingURL=base.css.map */